# Decision Tree

## HR Dataset

In [111]:
import pandas as pd
import numpy as np

In [112]:
## read_csv can read URLs as well
hr_url = 'https://raw.githubusercontent.com/skathirmani/datasets/master/HR%20Analytics.csv'
hr = pd.read_csv(hr_url)

In [113]:
hr.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,0,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,0,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,0,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,0,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,0,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

- Output columns : Target/Dependent variable
- Input columns : Independent variables/Predictors

In [114]:
hr['Attrition'].value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [115]:
hr.shape

(1470, 35)

In [116]:
hr['Attrition'].value_counts() / hr.shape[0] * 100

0    83.877551
1    16.122449
Name: Attrition, dtype: float64

In [117]:
hr.dtypes

Age                          int64
Attrition                    int64
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [118]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null int64
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(27), object(8)
memory usage: 402.0+ KB

In [119]:
hr._get_numeric_data()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,0,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,1,4,4,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,1,5,4,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,7,1,40,3,...,4,80,1,6,3,3,2,2,2,2
5,32,0,1005,2,2,1,8,4,79,3,...,3,80,0,8,2,2,7,7,3,6
6,59,0,1324,3,3,1,10,3,81,4,...,1,80,3,12,3,2,1,0,0,0
7,30,0,1358,24,1,1,11,4,67,3,...,2,80,1,1,2,3,1,0,0,0
8,38,0,216,23,3,1,12,4,44,2,...,2,80,0,10,2,3,9,7,1,8
9,36,0,1299,27,3,1,13,3,94,3,...,2,80,2,17,3,2,7,7,7,7
10,35,0,809,16,3,1,14,1,84,4,...,3,80,1,6,5,3,5,4,0,3
11,29,0,153,15,2,1,15,4,49,2,...,4,80,0,10,3,3,9,5,0,8
12,31,0,670,26,1,1,16,1,31,3,...,4,80,1,5,1,2,5,2,4,3
13,34,0,1346,19,2,1,18,2,93,3,...,3,80,1,3,2,3,2,2,1,2
14,28,1,103,24,3,1,19,3,50,2,...,2,80,0,6,4,3,4,2,0,3
15,29,0,1389,21,4,1,20,2,51,4,...,3,80,1,10,1,3,10,9,8,8
16,32,0,334,5,2,1,21,1,80,4,...,4,80,2,7,5,2,6,2,0,5
17,22,0,1123,16,2,1,22,4,96,4,...,2,80,2,1,2,2,1,0,0,0
18,53,0,1219,2,4,1,23,1,78,2,...,3,80,0,31,3,3,25,8,3,7
19,38,0,371,2,3,1,24,4,45,3,...,3,80,0,6,3,3,3,2,1,2
20,24,0,673,11,2,1,26,1,96,4,...,4,80,1,5,5,2,4,2,1,3
21,36,1,1218,9,4,1,27,3,82,2,...,2,80,0,10,4,3,5,3,0,3
22,34,0,419,7,4,1,28,1,53,3,...,3,80,0,13,4,3,12,6,2,11
23,21,0,391,15,2,1,30,3,96,3,...,4,80,0,0,6,3,0,0,0,0
24,34,1,699,6,1,1,31,2,83,3,...,3,80,0,8,2,3,4,2,1,3
25,53,0,1282,5,3,1,32,3,58,3,...,4,80,1,26,3,2,14,13,4,8
26,32,1,1125,16,1,1,33,2,72,1,...,2,80,0,10,5,3,10,2,6,7
27,42,0,691,8,4,1,35,3,48,3,...,4,80,1,10,2,3,9,7,4,2
28,44,0,477,7,4,1,36,1,42,2,...,4,80,1,24,4,3,22,6,5,17
29,46,0,705,2,4,1,38,2,83,3,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,688,4,2,1,2025,4,97,3,...,2,80,3,18,3,3,4,2,0,2
1441,56,0,667,1,4,1,2026,3,57,3,...,1,80,1,13,2,2,13,12,1,9
1442,29,1,1092,1,4,1,2027,1,36,3,...,2,80,3,4,3,4,2,2,2,2
1443,42,0,300,2,3,1,2031,1,56,3,...,1,80,0,24,2,2,22,6,4,14
1444,56,1,310,7,2,1,2032,4,72,3,...,4,80,1,14,4,1,10,9,9,8
1445,41,0,582,28,4,1,2034,1,60,2,...,3,80,1,21,3,3,20,7,0,10
1446,34,0,704,28,3,1,2035,4,95,2,...,4,80,2,8,2,3,8,7,1,7
1447,36,0,301,15,4,1,2036,4,88,1,...,1,80,1,15,4,2,15,12,11,11
1448,41,0,930,3,3,1,2037,3,57,2,...,3,80,1,14,5,3,5,4,0,4
1449,32,0,529,2,3,1,2038,4,78,3,...,4,80,0,4,4,3,4,2,1,2
1450,35,0,1146,26,4,1,2040,3,31,3,...,3,80,0,9,2,3,9,0,1,7
1451,38,0,345,10,2,1,2041,1,100,3,...,3,80,1,10,1,3,10,7,1,9
1452,50,1,878,1,4,1,2044,2,94,3,...,4,80,2,12,3,3,6,3,0,1
1453,36,0,1120,11,4,1,2045,2,100,2,...,1,80,1,8,2,2,6,3,0,0
1454,45,0,374,20,3,1,2046,4,50,3,...,3,80,0,8,3,3,5,3,0,1
1455,40,0,1322,2,4,1,2048,3,52,2,...,4,80,0,8,2,3,2,2,2,2
1456,35,0,1199,18,4,1,2049,3,80,3,...,4,80,2,10,2,4,10,2,0,2
1457,40,0,1194,2,4,1,2051,3,98,3,...,2,80,3,20,2,3,5,3,0,2
1458,35,0,287,1,4,1,2052,3,62,1,...,4,80,1,4,5,3,4,3,1,1
1459,29,0,1378,13,2,1,2053,4,46,2,...,1,80,1,10,2,3,4,3,0,3
1460,29,0,468,28,4,1,2054,4,73,2,...,2,80,0,5,3,1,5,4,0,4
1461,50,1,410,28,3,1,2055,4,39,2,...,2,80,1,20,3,3,3,2,2,0
1462,39,0,722,24,1,1,2056,2,60,2,...,1,80,1,21,2,2,20,9,9,6
1463,31,0,325,5,3,1,2057,2,74,3,...,2,80,0,10,2,3,9,4,1,7
1464,26,0,1167,5,3,1,2060,4,30,2,...,4,80,0,5,2,3,4,2,0,0
1465,36,0,884,23,2,1,2061,3,41,4,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,613,6,1,1,2062,4,42,2,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,155,4,3,1,2064,2,87,4,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,1023,2,3,1,2065,4,63,2,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,628,8,3,1,2068,2,82,4,...,1,80,0,6,3,4,4,3,1,2

In [120]:
hr._get_numeric_data().columns

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

## Data preprocessing
- Missing value treatment
- Outlier removal
- Column type conversion
- Standardization

## Split data into train and test

- Build model using train data
- Test/validate model using test data

In [121]:
from sklearn.model_selection import train_test_split

In [122]:
hr.shape

(1470, 35)

In [123]:
hr.shape[0]*0.7

1029.0

In [124]:
hr.shape[0]*0.3

441.0

In [125]:
np.random.randint(1,50, 10)

array([ 5, 38, 40,  2,  4,  9, 36,  7, 41, 29])

In [126]:
np.random.randint(1,1470, 1029)

array([393, 505,  80, ..., 510, 811, 820])

In [127]:
np.random.seed(100)
train_rows = np.random.randint(1, hr.shape[0], int(hr.shape[0]*0.7))
train_rows

array([ 793,   80,  351, ..., 1083,  388,  452])

In [128]:
train = hr.iloc[train_rows]
print(train.shape)
train.head(5)

(1029, 35)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
793,28,0,Travel_Rarely,895,Research & Development,15,2,Life Sciences,1,1102,...,4,80,1,4,5,2,4,2,2,2
80,30,0,Travel_Rarely,852,Research & Development,1,1,Life Sciences,1,104,...,3,80,2,10,1,2,10,8,3,0
351,32,0,Travel_Rarely,1062,Research & Development,2,3,Medical,1,471,...,3,80,1,8,4,3,8,0,0,7
54,26,0,Travel_Rarely,1443,Sales,23,3,Marketing,1,72,...,3,80,1,5,2,2,2,2,0,0
803,34,0,Non-Travel,697,Research & Development,3,4,Life Sciences,1,1115,...,4,80,3,6,2,3,0,0,0,0

In [129]:
train.shape

(1029, 35)

In [130]:
## dummies are used to convert categorical variables to numeric variables
## new columns are created based on number of unique items in each columns
hr_dummies = pd.get_dummies(hr)
hr_dummies

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,0,0,1,0,0,0,1,1,0,1
1,49,0,279,8,1,1,2,3,61,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1,1373,2,2,1,4,4,92,2,...,0,0,0,0,0,0,1,1,0,1
3,33,0,1392,3,4,1,5,4,56,3,...,0,1,0,0,0,1,0,1,0,1
4,27,0,591,2,1,1,7,1,40,3,...,0,0,0,0,0,1,0,1,1,0
5,32,0,1005,2,2,1,8,4,79,3,...,0,0,0,0,0,0,1,1,1,0
6,59,0,1324,3,3,1,10,3,81,4,...,0,0,0,0,0,1,0,1,0,1
7,30,0,1358,24,1,1,11,4,67,3,...,0,0,0,0,1,0,0,1,1,0
8,38,0,216,23,3,1,12,4,44,2,...,0,0,0,0,0,0,1,1,1,0
9,36,0,1299,27,3,1,13,3,94,3,...,0,0,0,0,0,1,0,1,1,0
10,35,0,809,16,3,1,14,1,84,4,...,0,0,0,0,0,1,0,1,1,0
11,29,0,153,15,2,1,15,4,49,2,...,0,0,0,0,0,0,1,1,0,1
12,31,0,670,26,1,1,16,1,31,3,...,0,1,0,0,1,0,0,1,1,0
13,34,0,1346,19,2,1,18,2,93,3,...,0,0,0,0,1,0,0,1,1,0
14,28,1,103,24,3,1,19,3,50,2,...,0,0,0,0,0,0,1,1,0,1
15,29,0,1389,21,4,1,20,2,51,4,...,0,0,0,0,1,0,0,1,1,0
16,32,0,334,5,2,1,21,1,80,4,...,0,1,0,0,1,0,0,1,0,1
17,22,0,1123,16,2,1,22,4,96,4,...,0,0,0,0,1,0,0,1,0,1
18,53,0,1219,2,4,1,23,1,78,2,...,0,0,0,0,0,1,0,1,1,0
19,38,0,371,2,3,1,24,4,45,3,...,0,1,0,0,0,0,1,1,0,1
20,24,0,673,11,2,1,26,1,96,4,...,0,0,0,0,1,0,0,1,1,0
21,36,1,1218,9,4,1,27,3,82,2,...,0,0,0,1,0,0,1,1,1,0
22,34,0,419,7,4,1,28,1,53,3,...,1,0,0,0,0,0,1,1,1,0
23,21,0,391,15,2,1,30,3,96,3,...,0,1,0,0,0,0,1,1,1,0
24,34,1,699,6,1,1,31,2,83,3,...,0,1,0,0,0,0,1,1,1,0
25,53,0,1282,5,3,1,32,3,58,3,...,0,0,0,0,1,0,0,1,1,0
26,32,1,1125,16,1,1,33,2,72,1,...,0,1,0,0,0,0,1,1,0,1
27,42,0,691,8,4,1,35,3,48,3,...,0,0,1,0,0,1,0,1,1,0
28,44,0,477,7,4,1,36,1,42,2,...,0,0,0,0,0,1,0,1,1,0
29,46,0,705,2,4,1,38,2,83,3,...,0,0,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,688,4,2,1,2025,4,97,3,...,0,0,0,0,1,0,0,1,1,0
1441,56,0,667,1,4,1,2026,3,57,3,...,0,0,0,0,1,0,0,1,1,0
1442,29,1,1092,1,4,1,2027,1,36,3,...,0,1,0,0,0,1,0,1,0,1
1443,42,0,300,2,3,1,2031,1,56,3,...,0,0,0,0,0,1,0,1,1,0
1444,56,1,310,7,2,1,2032,4,72,3,...,0,0,0,0,0,1,0,1,1,0
1445,41,0,582,28,4,1,2034,1,60,2,...,0,0,0,0,0,1,0,1,1,0
1446,34,0,704,28,3,1,2035,4,95,2,...,0,0,1,0,0,1,0,1,1,0
1447,36,0,301,15,4,1,2036,4,88,1,...,0,0,1,0,1,0,0,1,1,0
1448,41,0,930,3,3,1,2037,3,57,2,...,0,0,1,0,1,0,0,1,1,0
1449,32,0,529,2,3,1,2038,4,78,3,...,0,1,0,0,0,0,1,1,1,0
1450,35,0,1146,26,4,1,2040,3,31,3,...,0,0,0,0,0,0,1,1,0,1
1451,38,0,345,10,2,1,2041,1,100,3,...,0,0,1,0,0,1,0,1,1,0
1452,50,1,878,1,4,1,2044,2,94,3,...,0,0,1,0,1,0,0,1,1,0
1453,36,0,1120,11,4,1,2045,2,100,2,...,0,0,1,0,0,1,0,1,1,0
1454,45,0,374,20,3,1,2046,4,50,3,...,0,0,1,0,0,0,1,1,1,0
1455,40,0,1322,2,4,1,2048,3,52,2,...,0,1,0,0,0,0,1,1,1,0
1456,35,0,1199,18,4,1,2049,3,80,3,...,0,0,0,0,0,1,0,1,0,1
1457,40,0,1194,2,4,1,2051,3,98,3,...,0,1,0,0,0,1,0,1,1,0
1458,35,0,287,1,4,1,2052,3,62,1,...,0,1,0,0,0,1,0,1,1,0
1459,29,0,1378,13,2,1,2053,4,46,2,...,0,0,0,0,0,1,0,1,0,1
1460,29,0,468,28,4,1,2054,4,73,2,...,0,1,0,0,0,0,1,1,1,0
1461,50,1,410,28,3,1,2055,4,39,2,...,0,0,1,0,1,0,0,1,0,1
1462,39,0,722,24,1,1,2056,2,60,2,...,0,0,1,0,0,1,0,1,1,0
1463,31,0,325,5,3,1,2057,2,74,3,...,0,0,0,0,0,0,1,1,1,0
1464,26,0,1167,5,3,1,2060,4,30,2,...,0,0,0,1,0,0,1,1,1,0
1465,36,0,884,23,2,1,2061,3,41,4,...,0,0,0,0,0,1,0,1,1,0
1466,39,0,613,6,1,1,2062,4,42,2,...,0,0,0,0,0,1,0,1,1,0
1467,27,0,155,4,3,1,2064,2,87,4,...,0,0,0,0,0,1,0,1,0,1
1468,49,0,1023,2,3,1,2065,4,63,2,...,0,0,1,0,0,1,0,1,1,0
1469,34,0,628,8,3,1,2068,2,82,4,...,0,0,0,0,0,1,0,1,1,0

In [166]:
1 - np.square(train_y[train_y == '0'].shape[0]/train_y.shape[0]) - np.square(train_y[train_y == '1'].shape[0]/train_y.shape[0])

1.0

In [167]:
## To split data into train and test, random_state is used so that all of us get the same set of samples

train, test = train_test_split(hr_dummies, test_size = 0.3, random_state = 100)
print(train.shape)
print(test.shape)
train.head()

(1029, 56)
(441, 56)

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
178,46,0,526,1,2,1,244,2,92,3,...,0,0,1,0,1,0,0,1,1,0
971,51,0,1405,11,2,1,1367,4,82,2,...,0,0,0,0,0,0,1,1,1,0
1172,29,0,469,10,3,1,1650,3,42,2,...,0,0,1,0,0,0,1,1,1,0
667,41,1,1085,2,4,1,927,2,57,1,...,0,0,0,0,1,0,0,1,0,1
399,31,0,329,1,2,1,530,4,98,2,...,0,0,0,0,0,1,0,1,1,0

In [184]:
train['MonthlyIncome'].unique().shape

(968,)

In [132]:
train_y = train['Attrition']
test_y = test['Attrition']
train_x = train.drop('Attrition', axis = 1)
test_x = test.drop('Attrition', axis = 1)
train_x

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
178,46,526,1,2,1,244,2,92,3,3,...,0,0,1,0,1,0,0,1,1,0
971,51,1405,11,2,1,1367,4,82,2,4,...,0,0,0,0,0,0,1,1,1,0
1172,29,469,10,3,1,1650,3,42,2,2,...,0,0,1,0,0,0,1,1,1,0
667,41,1085,2,4,1,927,2,57,1,1,...,0,0,0,0,1,0,0,1,0,1
399,31,329,1,2,1,530,4,98,2,1,...,0,0,0,0,0,1,0,1,1,0
634,25,141,3,1,1,879,3,98,3,2,...,0,0,1,0,0,1,0,1,0,1
266,31,1463,23,3,1,367,2,64,2,2,...,0,0,0,0,0,1,0,1,1,0
210,32,1045,4,4,1,291,4,32,1,3,...,0,0,1,0,0,1,0,1,1,0
318,27,1220,5,3,1,434,3,85,3,1,...,0,1,0,0,0,0,1,1,0,1
239,32,515,1,3,1,331,4,62,2,1,...,0,0,0,0,0,0,1,1,0,1
1002,35,200,18,2,1,1412,3,60,3,3,...,0,0,0,0,0,0,1,1,1,0
519,29,806,1,4,1,710,2,76,1,1,...,0,1,0,0,1,0,0,1,1,0
1425,33,501,15,2,1,2009,2,95,3,2,...,0,0,0,0,0,1,0,1,0,1
390,43,982,12,3,1,520,1,59,2,4,...,1,0,0,0,1,0,0,1,1,0
892,19,504,10,3,1,1248,1,96,2,1,...,0,1,0,0,0,0,1,1,0,1
1297,26,920,20,2,1,1818,4,69,3,1,...,0,0,0,0,0,1,0,1,0,1
342,31,1232,7,4,1,462,3,39,3,3,...,0,0,0,0,0,0,1,1,0,1
114,34,1031,6,4,1,151,3,45,2,2,...,0,1,0,0,1,0,0,1,1,0
619,33,586,1,3,1,855,1,48,4,2,...,0,0,1,0,1,0,0,1,1,0
365,46,1144,7,4,1,487,3,30,3,2,...,0,0,0,0,0,1,0,1,1,0
308,58,390,1,4,1,422,4,32,1,2,...,0,0,0,0,1,0,0,1,0,1
1322,46,706,2,2,1,1857,4,82,3,3,...,0,0,0,0,1,0,0,1,1,0
715,33,827,1,4,1,998,3,84,4,2,...,0,0,0,0,0,1,0,1,0,1
1087,34,1440,7,2,1,1541,2,55,3,1,...,0,0,0,1,0,1,0,1,0,1
25,53,1282,5,3,1,32,3,58,3,5,...,0,0,0,0,1,0,0,1,1,0
591,33,118,16,3,1,819,1,69,3,2,...,0,0,1,0,0,0,1,1,1,0
88,30,288,2,3,1,117,3,99,2,2,...,0,0,0,0,0,1,0,1,1,0
669,39,1122,6,3,1,932,4,70,3,1,...,0,0,0,0,0,1,0,1,0,1
924,35,735,6,1,1,1291,3,66,3,1,...,0,1,0,0,0,1,0,1,0,1
111,34,658,7,3,1,147,1,66,1,2,...,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,0,1,1,0,1
1360,31,471,4,3,1,1916,1,62,4,1,...,0,0,0,0,1,0,0,1,1,0
763,34,1333,10,4,1,1055,3,87,3,1,...,0,0,0,1,0,1,0,1,0,1
967,40,329,1,4,1,1361,2,88,3,1,...,0,0,0,0,0,1,0,1,1,0
782,30,1176,20,3,1,1084,3,85,3,2,...,0,0,0,0,0,1,0,1,1,0
317,52,723,8,4,1,433,3,85,2,2,...,0,1,0,0,0,1,0,1,1,0
49,35,1229,8,1,1,63,4,36,4,1,...,0,0,0,0,0,1,0,1,1,0
135,36,216,6,2,1,178,2,84,3,2,...,0,0,0,0,1,0,0,1,1,0
835,35,528,8,4,1,1164,3,100,3,1,...,0,0,0,0,0,0,1,1,1,0
603,45,252,2,3,1,834,2,95,2,1,...,0,1,0,0,0,0,1,1,1,0
1028,41,1283,5,5,1,1448,2,90,4,1,...,0,1,0,0,0,1,0,1,0,1
612,28,760,2,4,1,846,2,81,3,2,...,0,0,1,0,0,1,0,1,0,1
757,34,216,1,4,1,1047,2,75,4,2,...,0,0,1,0,1,0,0,1,1,0
1165,44,602,1,5,1,1642,1,37,3,2,...,0,0,0,0,0,1,0,1,0,1
897,59,326,3,3,1,1254,3,48,2,2,...,0,0,1,0,0,0,1,1,1,0
415,34,296,6,2,1,555,4,33,1,1,...,0,0,0,1,1,0,0,1,1,0
386,37,1107,14,3,1,515,4,95,3,1,...,0,0,0,0,1,0,0,1,1,0
86,23,541,2,1,1,113,3,62,3,1,...,0,0,0,1,1,0,0,1,1,0
1117,34,1351,1,4,1,1580,2,45,3,2,...,0,1,0,0,0,1,0,1,1,0
912,26,583,4,2,1,1275,3,53,3,1,...,0,1,0,0,0,0,1,1,0,1
1340,36,1266,10,4,1,1880,2,63,2,2,...,0,0,1,0,0,1,0,1,0,1
1252,34,181,2,4,1,1755,4,97,4,1,...,0,1,0,0,0,1,0,1,0,1
280,53,1070,3,4,1,386,3,45,3,4,...,1,0,0,0,0,1,0,1,0,1
752,36,885,16,4,1,1042,3,43,4,1,...,0,0,0,0,0,0,1,1,1,0
1009,58,1055,1,3,1,1423,4,76,3,5,...,1,0,0,0,0,1,0,1,0,1
802,33,970,7,3,1,1114,4,30,3,2,...,0,0,1,0,0,1,0,1,1,0
53,35,1097,11,2,1,70,3,79,2,3,...,0,0,0,0,0,1,0,1,0,1
350,42,544,2,1,1,470,3,52,3,1,...,0,0,0,0,1,0,0,1,0,1
79,46,945,5,2,1,103,2,80,3,2,...,0,0,0,0,1,0,0,1,0,1
792,33,827,29,4,1,1101,1,54,2,2,...,0,1,0,0,0,0,1,1,1,0

In [133]:
print(train_y.shape)
print(test_y.shape)
print(train_x.shape)
print(test_x.shape)

(1029,)
(441,)
(1029, 55)
(441, 55)

# Building Model

In [134]:
from sklearn.tree import DecisionTreeClassifier

In [140]:
## create object or initiate object before fitting in the data
model = DecisionTreeClassifier()
model.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [141]:
test_pred = model.predict(test_x)
print(len(test_pred))
test_pred[:5]  ## last 5 entries

441

array([1, 1, 0, 0, 0], dtype=int64)

# Evaluate model performence

In [142]:
df_pred = pd.DataFrame({'actual' : test_y,
                       'predicted': test_pred})
df_pred.head()

      actual  predicted
880        0          1
152        0          1
1466       0          0
1084       0          0
1086       0          0

In [143]:
## for comparision use == ### single = is assignment operator
df_pred['pred_status'] = df_pred['actual'] == df_pred['predicted']
df_pred.head()

      actual  predicted  pred_status
880        0          1        False
152        0          1        False
1466       0          0         True
1084       0          0         True
1086       0          0         True

In [144]:
df_pred['pred_status'].value_counts()

True     346
False     95
Name: pred_status, dtype: int64

# Machine Learning Process
- Clean/Prepare your data (EDA process)
    - Missing value treatment
    - Outlier removal
    - Standardization
    - Dummy variable creation
- Split the data into training and testing (test, train)
- Seperate input and output columns (train_x, train_y, test_x, test_y)
- Build model using training data
- Predict output values for test data
- Evaluate the model
    - Accuracy, sensitivity, specificity
- Fine tune the model for better performance
    - Hyper parameter tuning, cross validation

#   BANK DATASET

In [145]:
#bank_url = 'https://raw.githubusercontent.com/skathirmani/datasets/master/bank-full.csv'
bank = pd.read_csv('C:/Users/Administrator/Desktop/Datasets/bank.csv', sep= ';')
bank.shape

(45211, 17)

In [146]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [147]:
bank_new = bank.drop('y', axis = 1)
bank_new.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

In [148]:
bank_dummies = pd.get_dummies(bank_new)
bank_dummies.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [149]:
bank_dummies['y'] = bank['y']
bank_dummies.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y
0,58,2143,5,261,1,-1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,no
1,44,29,5,151,1,-1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,no
2,33,2,5,76,1,-1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,no
3,47,1506,5,92,1,-1,0,0,1,0,...,0,1,0,0,0,0,0,0,1,no
4,33,1,5,198,1,-1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,no

In [150]:
bank_dummies.shape

(45211, 52)

In [151]:
train, test = train_test_split(bank_dummies, test_size = 0.3, random_state = 100)
print(train.shape)
print(test.shape)

(31647, 52)
(13564, 52)

In [152]:
train_y = train['y']
test_y = test['y']
train_x = train.drop('y', axis = 1)
test_x = test.drop('y', axis = 1)
train_x.shape

(31647, 51)

In [153]:
print(train_y.shape)
print(test_y.shape)
print(train_x.shape)
print(test_x.shape)

(31647,)
(13564,)
(31647, 51)
(13564, 51)

In [154]:
model = DecisionTreeClassifier(random_state=100)
model.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [155]:
test_pred = model.predict(test_x)
print(len(test_pred))
test_pred[:5]

13564

array(['no', 'no', 'no', 'no', 'yes'], dtype=object)

In [156]:
df_pred = pd.DataFrame({'actual' : test_y,
                       'predicted': test_pred})
df_pred.head()

      actual predicted
14789     no        no
8968      no        no
34685     no        no
2369      no        no
36561     no       yes

In [157]:
df_pred['pred_status'] = df_pred['actual'] == df_pred['predicted']
df_pred.head()

      actual predicted  pred_status
14789     no        no         True
8968      no        no         True
34685     no        no         True
2369      no        no         True
36561     no       yes        False

In [158]:
df_pred['pred_status'].value_counts()

True     11899
False     1665
Name: pred_status, dtype: int64

In [159]:
train_y[train_y == 'yes'].shape

(3710,)

In [160]:
train_y[train_y == 'no'].shape

(27937,)

In [161]:
train_y.shape

(31647,)

In [162]:
1 - np.square(27937/31647) - np.square(3710/31647)

0.20697532774991265

In [163]:
1 - np.square(train_y[train_y == 'yes'].shape[0]/train_y.shape[0]) - np.square(train_y[train_y == 'no'].shape[0]/train_y.shape[0])

0.20697532774991267